# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Node / Next.js
node_modules/
.next/
out/
build/
.npm
*.log

# Database
*.db
*.sqlite

# PlatformIO / IDEs
.pio/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
